.recover-password {
  background-color: black;
  height: 100vh;
  padding: var(--space-small) var(--space-big);
}

.recover-password .logo {
  margin-top: var(--space-big);
  width: 75px;
}

.recover-password .form {
  display: flex;
  flex-direction: column;
}

.recover-password header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-bottom: var(--space-medium);
  margin-bottom: var(--space-ultra);
}

.recover-password .link {
  color: var(--swatch-red);
}

.recover-password .content {
  background-color: var(--swatch-grey);
  padding: var(--space-ultra);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
}

.recover-password .content p,
.recover-password .content h1 {
  color: black;
}

.recover-password .content h1 {
  font-weight: lighter;
}

.recover-password .content .button {
  background-color: var(--swatch-blue);
}

@media (min-width: 750px) {
  .recover-password {
    background-image: url("/src/assets/pictures/recover-background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .recover-password .content {
    max-width: 480px;
    margin: 0 auto;
  }

  .recover-password .logo {
    padding-left: var(--space-ultra);
    padding-top: var(--space-ultra);
    height: 45px;
    width: 167px;
  }
  .recover-password .link {
    font-size: 20px;
    padding-right: var(--space-big);
  }

  .recover-password header {
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    margin-bottom: var(--space-ultra);
  }

  .recover-password input {
    background-color: white;
  }
}
