:root {
  --swatch-black: black;
  /* --swatch-dark-grey: #8c8c8c; */
  --swatch-dark-grey: #141414;
  --swatch-grey: #f5f7fa;
  --swatch-red: #e50914;
  --swatch-white: #ffffff;
  --swatch-blue: #0080ff;
}
